@model CURSOVA.Models.ViewModels.ChangePasswordModel

@using (Html.BeginForm(new { id = "changepasswordform" }))
{
    <p>
        <label>Old password:</label>
        @Html.PasswordFor(x => x.OldPassword)
        @Html.ValidationMessageFor(x => x.OldPassword)
    </p>
    <p>
        <label>New password:</label>
        @Html.PasswordFor(x => x.NewPassword)
        @Html.ValidationMessageFor(x => x.NewPassword)
    </p>
    <p>
        <label>Confirmed password:</label>
        @Html.PasswordFor(x => x.ConfirmedPassword)
        @Html.ValidationMessageFor(x => x.ConfirmedPassword)
    </p>
    <p>
        <input type="button" value="Submit" onclick="ChangePassword(this)" />
    </p>

    <p>
        <input type="button" value="Cancel" onclick="GetButtonForChange()" />
    </p>
}
