@model IEnumerable<CURSOVA.Areas.Admin.Models.PizzaModelAdmin>


@{
    ViewBag.Title = "EditPizza";
}

<h2>Edit Pizza</h2>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzasComponents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Missing)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.Partial("_PizzasComponentsAdmin", item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Missing)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="EditPizza(@item.Id)">
                    Edit
                </button>
            </td>
        </tr>
    }

</table>