@model CURSOVA.Areas.Admin.Models.PizzaModelAdmin

<h2>Edit Pizza</h2>

@using (Html.BeginForm(new { id = "changeemailform" }))
{
    <p>
        <label>New name: </label>
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </p>
    <p>
        <label>New price: </label>
        @Html.EditorFor(x => x.Price)
        @Html.ValidationMessageFor(x => x.Price)
    </p>
    <p>
        <label>New size: </label>
        @Html.EditorFor(x => x.Size)
        @Html.ValidationMessageFor(x => x.Size)
    </p>
    <p>
        <label>New missing: </label>
        @Html.EditorFor(x => x.Missing)
        @Html.ValidationMessageFor(x => x.Missing)
    </p>
    <p>
        <label>New email: </label>
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </p>
    <p>
        <input type="button" value="Submit" onclick="ChangeEmail(this)" />
    </p>
}