
@model IEnumerable<CURSOVA.Models.ViewModels.BoughtPizzasModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PizzaModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaModel.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaModel.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaModel.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaModel.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <input onclick="Del(@item.PizzaModel.Id)" type="button" value="Del" />
            </td>
        </tr>
    }
</table>
@{
    decimal a = 0;
    foreach(var item in Model)
    {
        a += item.TotalPrice;
    }
<h2>Total Price: @a </h2>

    }